body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.header {
    background-color: DarkRed;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation a{
    padding: 10px 15px;
    margin: 0 15px;
    background-color: FireBrick;
    color: gold;
    border: 3px;
    border-radius: 0px 0px 20px 0px;
    font-size: 23px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: slideIn 1s ease forwards;
    opacity: 0;
    text-decoration: none;

}

.navigation a: nth-child(1) {
    animation-delay: 0.2s;
}

.navigation a:nth-child(2) {
    animation-delay: 0.4s;
}

.navigation a:nth-child(3) {
    animation-delay: 0.6s;
}

.navigation a:nth-child(4) {
    animation-delay: 0.8s;
}

.navigation a:nth-child(5) {
    animation-delay: 1s;
}

.navigation a:hover {
    transform: scale(1.1);
    background-color: DarkOrange;
}
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
footer {
    background-color: DarkRed;
    padding: 10px;
    text-align: center;
    color: white;
}

.slider {
    position: relative;
}

.slider-container {
    display: flex;
    overflow: hidden;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slider-container img {
    flex-shrink: 0;
    width: 33.33%;
    height: 450px;
    object-fit: cover;
    border: 5px solid gold;
    border-radius: 5%;
    transition: opacity 0.5s ease-in-out;

}

.slider-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.slider-arrow {
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: gold;
    color: black;
    margin: 0 5px;
}
h1 {
    font-size: 70px;
    color: Gold;
    text-align: center;
    margin: 20px 0;
    font-family: fantasy;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.text {
    font-family:cursive;
    color: LemonChiffon;
    font-size: 15px;
}
.my-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.my-text {
    text-align: center;
    color: #e9e9eb;
}
.custom-container {
    max-width: 500px;
    margin: 0 auto;
}
h2 {
    color: Khaki;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: inherit;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    margin-left: 10px;
}
.container {
    overflow: hidden;
    border: 0px solid OldLace ;
}

.box {
    white-space: nowrap;

}
.pronas {
    margin-left: 50px;
    margin-right: 50px;
}
.containner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}
.textt {
    margin-left: 25px;
    text-align: center;
    padding: 10px;
    color: LemonChiffon;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    font-size: 17px;
}
.containner .textt h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.containner .textt p {
    font-size: 16px;
    line-height: 1.5;
}

.containner img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}
.kontakti {
    
    margin-left: 20px;
    margin-right: 20px;
}
.map {
    height: 100%;
    width: 100%;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: relative;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 999;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: DarkRed;
        padding: 50px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }

    .navigation.open {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
}
.button {
    display: inline-block;
    padding: 15px 15px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: transform 0.3s;
}


.button:hover {
    transform: scale(1.1);
}


.texxt {
    font-family: s;

}
.start{
    border: 2px dashed gold;
}

.nik{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed gold;
}
